.controller.xbox {
    background: url(base.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(trigger.png);
    opacity: 0;
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(bumper.png);
    opacity: 0;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 48px;
    height: 48px;

}

.xbox .stick {
    position: absolute;
    background: url(stick.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .face {
    background: url(dpad.png);
    position: absolute;
    opacity: 0;
}

.xbox .quadrant {
    position: absolute;
    background: url(quadrant.png);
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    z-index: 0;
}
